.header {
  position: relative;
  min-height: 100px;
  z-index: 50;
}

.wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.column {

  &_pos_2 {
    display: flex;
  }
}
