.select {
  width: 100%;
  border: 2px solid #67798C;
  border-radius: 8px;
}

.default-option {

}

.option {

}

.option-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.default-option-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.default-value {

  color: #9DADBF;
}